
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

$primary-color:         #0f0;
$secondary-color:       #000;

.social-button {
    transition: color ease-in-out 250ms;

    & :hover {
        color: $secondary-color;
    }
}

.card-item {
    height: 100%;

    .title {
        margin: .5em 2rem 0 2rem;
        border: solid black .2rem;
    }

    .content {
        margin: 0 2rem;
        border: solid black .2rem;
        border-top: solid 0;
        border-radius: 0 0 1em 1em;
    }
}
