
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

$primary-color:         #0f0;
$secondary-color:       #000;

.social-button {
    transition: color ease-in-out 250ms;

    & :hover {
        color: $secondary-color;
    }
}

.card-item-outer {
    margin-bottom: 2em;

    .card-item {
        height: 100%;
        border: solid black .2rem;
        border-radius: 0 0 1em 1em;

        .title {
            border-bottom: solid black .2rem;
        }

        .content-image img {
            border-radius: 0 0 1em 1em;
        }
    }
}
